@{
    ViewData["Title"] = "Index";
}

<h1>TP XX - Index</h1>

<!--Cada link de los cards de las series debe abrir un único  modal con la info correspondiente (link a temporadas de una serie, a actores de una serie o a la info de la serie.-->
